# http://editorconfig.org
root = true

[*]
semi = false
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,jsx,ts,tsx}]
semi = false
indent_size = 4
space_in_paren = false
[*.svelte]
semi = false
indent_size = 4
space_in_paren = false
[*.md]
trim_trailing_whitespace = false
