{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier",
    "html"
  ],
  "rules": {
    "semi": "off",
    "linebreak-style": "off"
  }
}
