{
  "semi": false,
  "tabWidth": 4,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": [
        "*.html",
        "*.css",
        "*.less",
        "*.scss",
        "*.config.*"
      ],
      "options": {
        "tabWidth": 2,
        "singleQuote": false,
        "semi": true
      }
    },
    {
      "files": [
        "*.vue",
        "*.svelte"
      ],
      "options": {
        "tabWidth": 2,
        "singleQuote": true
      }
    }
  ]
}
